@charset "UTF-8";
/*
Tudo que é id= vira #
Tudo que é class= vira .
*/
body {
    background-color: rgb(201, 255, 217);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(12, 102, 12) ;
}

h1#principal{
    color: aliceblue;
    text-align: center;  
    background-color: rgb(2, 139, 25);  
}

h2 {
    color: rgb(1, 88, 88);
}
.basico {
    color: cornflowerblue;
    font-weight: 500;
}
.intermediario {
    color: rgb(136, 135, 52);
    font-weight: 500;
}
.avancado{
    color: rgb(237, 116, 100);
    font-weight: 500;
}