@charset "UTF8";
@font-face {
    font-family: 'droid';
    src: url(idroid.otf);
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0px;
}
header {
    background-image: linear-gradient(to bottom, rgb(4, 182, 99), rgb(1, 73, 51));
    color: white;
    text-align: center;
    padding-top: 40px;
}
header > h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 2.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.411);
    margin-bottom: 20px;
    letter-spacing: -2px;
}

header > p {
    font-size: 13px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.425);
    color: rgb(255, 255, 255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(149, 231, 231);
      margin: -21px 0px 0px 0px;
}

nav {
    text-align: left;   
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.445);
    font-size: 13px;
}

nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.5s;
}
nav > a:hover {
    background-color: rgb(55, 136, 55);
}

img {
    width: 100%;
}

main {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    min-width: 320px;
    max-width: 800px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
}

main > h1 {
   font-family: 'droid';
   color: rgb(2, 121, 75);
}

main p {
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
}

main > h2 {
    font-family: 'droid';
    color: rgb(2, 121, 75);
    font-size: 20px;
    background-image: linear-gradient(to right, rgb(191, 241, 191), transparent);
    text-indent: 8px;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}
main > div.video{
    background-color: rgb(1, 68, 1);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside {
    background-color: rgb(108, 182, 160);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.322);
}
aside > h3 {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

footer {
    background-color: white;
    width: 800px;
    margin: 0px auto 0px auto;   
}
footer > p {
    text-align: justify;
    text-indent: 30px;
}

footer > h3 {
    background-color: rgb(13, 124, 72);
    color: white;
    font-size: 16px;
    padding: 5px;
}